<footer class=" m-0 p-0  mt-10" style="
position: relative;
background:linear-gradient(to top,  #33967d, #184d42);
width: auto ;height:300px;
margin: 20px;
">
    <div class="container-fluid m-0 p-0" >
        <div class="row">
            <div class="col-md-4 ">
                <h4 class="mb-4 text-white mt-3 p-4" style="
                color: white;
                font-size: 15px;
                font-weight: bold;
                font-family: 'Montserrat', sans-serif;
              ">  Contacto:</h4>
                <a href="/" class="d-flex align-items-center">
                    <img class="logo w-8 h-8 mr-2 ml-4 mb-2" th:src="@{/Img/ubicacion.png}" alt="ubicacion" />
                    <span style="
                          color: white;
                          font-size: 15px;
                          font-weight: bold;
                          font-family: 'Montserrat', sans-serif;
                        ">Direccion: Calle Salud - Ciudad Saludable</span>
                </a>
                <a href="/" class="d-flex align-items-center">
                    <img class="logo w-8 h-8 mr-2 ml-4 mb-2" th:src="@{/Img/email.png}" alt="email" />
                    <span style="
                          color: white;
                          font-size: 15px;
                          font-weight: bold;
                          font-family: 'Montserrat', sans-serif;
                        ">Correo: info@SaludAPP.com</span>
                </a>
                <a href="/" class="d-flex align-items-center">
                    <img class="logo w-8 h-8 mr-2 ml-4 mb-2" th:src="@{/Img/llamada.png}" alt="Llamada" />
                    <span style="
                          color: white;
                          font-size: 15px;
                          font-weight: bold;
                          font-family: 'Montserrat', sans-serif;
                        ">Telefono:+549111111111</span>
                </a>
            </div>


            <div class="col-md-4 mt-3" style="position:relative">
                <div>
                    <img src="/Img/logo0.png" style="position:absolute;left: 50%;">
                    <a class="text-white mt-3"
                        style="color: white;font-size: 15px;font-weight: bold; font-family: 'Montserrat', sans-serif;position:absolute;left: 48%;bottom:50% ;">SaludAPP</a>
                </div>
            </div>


            <div class="col-md-4 p-4" style="position:absolute;right: 0%; text-align: right;">
              <div >
              <h4 class="mb-4 text-white mt-3" style="
                color: white;
                font-size: 15px;
                font-weight: bold;
                font-family: 'Montserrat', sans-serif;">Enlaces Rapidos</h4>
                <ul class="list-unstyled">
                    <li><a class="text-white mt-3"
                            style="color: white;font-size: 15px;font-weight: bold; font-family: 'Montserrat', sans-serif;">Inicio</a>
                    </li>
                    <li><a class="text-white mt-3"
                            style="color: white;font-size: 15px;font-weight: bold; font-family: 'Montserrat', sans-serif;">Servicios</a>
                    </li>
                    <li><a class="text-white mt-3"
                            style="color: white;font-size: 15px;font-weight: bold; font-family: 'Montserrat', sans-serif;">Especialidades</a>
                    </li>

              </ul>
              </div>
            </div>


        </div>

        <hr class="my-3 " style="color:wheat">

        <p class="small mb-0 text-center text-white ">&copy; 2023 SaludAPP. Todos los derechos reservados.</p>
    </div>
</footer>