<nav class="navbar navbar-expand-lg navBar bg-green-600">
    <div class="containerImg">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <img
          class="logo w-8 h-8 mr-2"
          src="/Img/logo0.png"
          alt="Logo SaludApp"
        />
        <span
          style="
            color: white;
            font-size: 23px;
            font-weight: bold;
            font-family: 'Arial', sans-serif;
          "
          >SaludAPP</span
        >
      </a>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse elementosNav"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav ms-auto elementos">
        <li class="nav-item dropdown">
          <a
            sec:authorize="!isAuthenticated()"
            class="nav-link dropdown"
            href="/login"
          >
            <span
              style="
                color: white;
                font-size: 18px;
                font-weight: normal;
                font-family: 'Arial', sans-serif;
              "
              >Login</span
            >
          </a>
        </li>

        <li class="nav-item dropdown">
          <a
            sec:authorize="hasAnyRole('ROLE_PACIENTE', 'ROLE_DOCTOR', 'ROLE_ADMIN')"
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown1"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><span
              style="
                color: white;
                font-size: 18px;
                font-weight: normal;
                font-family: 'Arial', sans-serif;
              "
              >Doctores</span
            ></a
          >
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
            <li>
              <a class="dropdown-item" th:href="@{/doctor/registrar}"
                >Crear Doctor</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" th:href="@{/doctor/lista}"
                >Listar Doctores</a
              >
            </li>
          </ul>
        </li>
        <li
          sec:authorize="hasAnyRole('ROLE_PACIENTE', 'ROLE_DOCTOR', 'ROLE_ADMIN')"
          class="nav-item dropdown"
        >
          <a
            class="nav-link dropdown"
            href="/obrasocial/lista"
            id="navbarDropdown1"
            aria-expanded="false"
            ><span
              style="
                color: white;
                font-size: 18px;
                font-weight: normal;
                font-family: 'Arial', sans-serif;
              "
              >Obra Social</span
            ></a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown"
            href="/especializacion/lista"
            id="navbarDropdown2"
            aria-expanded="false"
          >
            <span
              style="
                color: white;
                font-size: 18px;
                font-weight: normal;
                font-family: 'Arial', sans-serif;
              "
              >Especializaciones</span
            ></a
          >
        </li>

        <li
          sec:authorize="hasAnyRole('ROLE_PACIENTE', 'ROLE_DOCTOR', 'ROLE_ADMIN')"
          class="nav-item dropdown"
        >
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown3"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span
              style="
                color: white;
                font-size: 18px;
                font-weight: normal;
                font-family: 'Arial', sans-serif;
              "
              >Pacientes</span
            ></a
          >
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
            <li>
              <a class="dropdown-item" th:href="@{/paciente/registrar}"
                >Crear Paciente</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" th:href="@{/paciente/lista}"
                >Listar Paciente</a
              >
            </li>
          </ul>
        </li>

        <li
          sec:authorize="hasAnyRole('ROLE_PACIENTE', 'ROLE_DOCTOR', 'ROLE_ADMIN')"
          class="nav-item dropdown"
        >
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown3"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          ><span
          style="
            color: white;
            font-size: 18px;
            font-weight: normal;
            font-family: 'Arial', sans-serif;
          "
          >Perfil</span
        ></a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdown3"
          >
            <li>
              <a class="dropdown-item" th:href="@{/perfil}">Perfil</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li class="nav-item dropdown">
              <a class="dropdown-item" href="/logout">Cerrar Sesión</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>