body {
  font-family: "Montserrat", sans-serif;
  background-image: url("../Img/doctor.jpg");
  background-size: cover;
  /* Ajusta el tamaño de la imagen para cubrir completamente el fondo */
  background-position: center;
  /* Centra la imagen en el fondo */
  background-repeat: no-repeat;/
}
  .cont-logo {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    width: 250px;
    height: 4.45rem;
    position: relative;
    padding: 0.35rem 1rem 0.3rem 1rem;
    background-color: #4a4a4a;
    color: #000000;
    text-decoration: none;
  }

  .cont-logo h3 {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: #000000;
  }
  
  .cont-menu {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #1c1c1c;
    position: relative;
    max-width: 250px;
    height: 100vh;
    background: #939393;
    box-shadow: #454141 0px 0px 10px 0px;
  }
  
  h3,
  h5 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    margin-left: 40px;
    color: #919090;
    padding-top: 5px;
  }
  
  .cont-menu nav {
    padding: 15px;
  }
  
  .cont-menu nav a {
    display: block;
    padding: 20px;
    color: #1b1b1b;
    text-decoration: none;
    font-weight: 300;
    border-left: 5px solid transparent;
  }
  
  .cont-menu nav a:hover {
    border-left: 5px solid #c7c7c7;
    color: #000000;
    background: #000000;
  }
  
  .toggle-btn {
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
    box-shadow: #ededed 0px 0px 10px 0px;
    transition: all 0.3s ease;
  }
  .cont-menu h4 {
    text-align: center;
  }