<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/src/main/resources/css/index.css" rel="stylesheet">
  <script src="/src/main/resources/js/carousel.js" defer></script>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap"
    rel="stylesheet">
</head>

<body class="bg-gray-100 m-0 p-0 bc ">
  <div class="container-fluid ">

    <!-- Navbar con logo y nombre -->
    <nav class="bg-green-600 p-4">
      <div class="container mx-auto flex items-center justify-between">
        <div class="flex items-center">
          <a href="/index"><img src="/src/main/resources/Img/logo.png" alt="Logo SaludAPP"
              class="w-10 h-10 mr-2 cursor-pointer"></a>
          <h3 class="text-white text-2xl font-bold">SaludAPP</h3>
        </div>
        <ul class="flex space-x-4 text-white">
          <li><a href="/index" class="hover:bg-gray-600 hover:text-white px-4 py-2 rounded">Home</a></li>
          <li><a href="/pacientes" class="hover:bg-gray-600 px-4 py-2 rounded">Pacientes</a></li>
          <li><a href="" class="hover:bg-gray-600 px-4 py-2 rounded">Profesionales</a></li>
          <li><a href="#contact" class="hover:bg-gray-600 px-4 py-2 rounded">Contacto</a></li>
        </ul>
      </div>
    </nav>

    <div class="p-7 ">
      <h1 class="text-5xl font-bold text-center text-green-600  ">Bienvenido a SaludAPP</h1>
      <h3 class=" text-2xl text-center text-gray-600 pt-5">Descubre nuestra red de salud</h3>
    </div>
    <!-- Carrusel de imágenes -->
    <div class="carousel-container ">
      <div class="carousel-wrapper" id="carousel-wrapper">
        <div class="carousel-item">
          <img
            src="/src/main/resources/Img/borrosa-resumen-antecedentes-vista-interior-mirando-fuera-vacio-vestibulo-oficina-puertas-entrada-pared-cortina-vidrio-marco.jpg"
            alt="Imagen 1">
        </div>
        <div class="carousel-item">
          <img src="/src/main/resources/Img/doctores-comprobando-radiografia.jpg" alt="Imagen 2">
        </div>
        <div class="carousel-item">
          <img src="/src/main/resources/Img/equipo-medicos-especialistas-jovenes-pie-pasillo-hospital.jpg"
            alt="Imagen 3">
        </div>

      </div>
      <button class="carousel-prev" onclick="prevSlide()">&#10094;</button>
      <button class="carousel-next" onclick="nextSlide()">&#10095;</button>

      <div class="text-center text-2xl p-5">
        <p class="text-center text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente cumque
          repellendus eaque odit. Corrupti corporis fugiat eligendi facilis optio quas amet sunt temporibus voluptatum.
          Provident excepturi unde ipsam beatae eaque.</p>
      </div>
    </div>

    <!-- Footer -->
    <footer class="mt-8 mb-0 text-center text-white p-7 bg-green-800  ">
      <p>&copy; 2023 SaludAPP. Todos los derechos reservados.</p>
    </footer>




</body>

</html>