<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/css/autogestion.css}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="container-fluid">

    <div class="login-card">
      <img th:src="@{/Img/logo.png}" alt="AppSalud Logo" class="logo">
      <span class="app-name">SaludAPP</span>
      <h2 class="title">Login Autogestion</h2>
      <form class="formulario" th:action="@{/logincheck}" method="POST">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Ingrese su email" required>

        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" placeholder="Ingrese su contraseña" required>

        <button type="submit">Iniciar Sesión</button>
      </form>

      <div class="create-account">
        ¿No tienes una cuenta? <a href="/paciente/registrar">Crear usuario</a>
      </div>
      <div class="create-account">
        Olvidaste tu clave? Recuperala <a href="#"> aquí.</a>
      </div>
    </div>

  </div>
</body>





</body>

</html>