<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
         <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Listado de Obra Sociales</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
              crossorigin="anonymous">
        <script src="/static/js/carousel-script.js"></script>
        <link rel="stylesheet" href="/static/css/index.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap">
        <!-- CSS de Bootstrap "PopUp"-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Scripts de Bootstrap (requieren jQuery y Popper.js) "PopUp"-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    </head>

    <body>
       <div class="container-fluid ">
        <nav class="navbar navbar-expand-lg navBar bg-green-600">
            <div class="containerImg">
                <a href="/" class="navbar-brand d-flex align-items-center">
                    <img class="logo w-8 h-8 mr-2" src="/Img/logo0.png" alt="Logo SaludApp">
                    <span class="text-white text-lg font-bold">SaludAPP</span>
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse elementosNav" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto elementos">
                    <li class="nav-item dropdown">
                        <a sec:authorize="!isAuthenticated()" class="dropdown-item" href="/login" >Login</a>
                    </li>
                    <li class="nav-item dropdown">
                        
                        <a sec:authorize="hasAnyRole('ROLE_PACIENTE', 'ROLE_DOCTOR', 'ROLE_ADMIN')" class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Doctores
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <li><a class="dropdown-item" th:href="@{/doctor/registrar}">Crear Doctor</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" th:href="@{/doctor/lista}">Listar Doctores</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_PACIENTE', 'ROLE_DOCTOR', 'ROLE_ADMIN')" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Obra Sociales
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <li><a class="dropdown-item" th:href="@{/obrasocial/registrar}">Crear Obra Social</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" th:href="@{/obrasocial/lista}">Listar Obras Sociales</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="hasAnyRole('ROLE_PACIENTE', 'ROLE_DOCTOR', 'ROLE_ADMIN')" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Especializaciones
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <li><a class="dropdown-item" th:href="@{/especializacion/registrar}">Crear Especialización</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" th:href="@{/especializacion/lista}">Listar Especializaciones</a></li>
                        </ul>
                    </li>

                    <li sec:authorize="hasAnyRole('ROLE_PACIENTE', 'ROLE_DOCTOR', 'ROLE_ADMIN')" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Pacientes
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                            <li><a class="dropdown-item" th:href="@{/paciente/registrar}">Crear Paciente</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" th:href="@{/paciente/lista}">Listar Paciente</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a sec:authorize="hasAnyRole('ROLE_PACIENTE', 'ROLE_DOCTOR', 'ROLE_ADMIN')" class="dropdown-item" href="/logout" >Cerrar Sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="navbarDropdown4" role="button">
                            Contacto
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container m-5" >

            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Id de la Obra Social</th>
                        <th scope="col">Nombre la Obra Social</th>
                        <th scope="col">Acciones</th>

                    </tr>
                </thead>
                <tbody> 
                    <tr th:each="obrasocial, iterStat: ${obrasociales}">
                        <th scope="row" th:text="${obrasocial.id}"></th>
                        <td th:text="${obrasocial.nombre}"></td>
                        <!-- Botón para abrir el modal de modificación -->
                        <td>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" th:data-bs-target="'#myModalEdit-' + ${iterStat.index}"
                             data-id="${obrasocial.id}" data-nombre="${obrasocial.nombre}">
                                 Modificar
                            </button>
                        </td>
                     
                        <td>
                            <a th:href= "@{/obrasocial/eliminar/__${obrasocial.id}__}"><i class="fas fa-feather-alt">  </i> Eliminar </a>
                        </td>

                        <div class="modal fade" th:id="'myModalEdit-' + ${iterStat.index}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <!-- Encabezado del modal -->
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Editar obrasocial</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                
                                <!-- Contenido del modal -->
                                <div class="modal-body">
                                  <!-- Aquí va tu formulario -->
                                  <form class="formulario" th:action="@{/obrasocial/modificar/__${obrasocial.id}__}" method="POST">
                                    <!-- Campos del formulario -->
                                    <div class="form-group my-3">
                                        <label class="mb-2">Editar obrasocial</label> 
                                        <input type="text" class="form-control" name="nombre" placeholder="Nombre de la Obra Social">
                                    </div>
                                    <!-- Otros campos del formulario -->
                          
                                    <!-- Botón de envío del formulario -->
                                    <button type="submit" class="btn btn-primary">Crear</button>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                    </tr>

                </tbody>
            </table>

            <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
                <div class="card-body">
                    <h5 class="card-title">Exito ð</h5>
                    <p class="card-text" th:text="${exito}"></p>
                </div>
            </div>
            <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError" >
                <div class="card-body">
                    <h5 class="card-title">Error ð</h5>
                    <p class="card-text" th:text="${error}"></p>
                </div>
            </div>
            
            <section class="py-5 text-center container">
               
                <div class="row py-lg-5">
                    
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                            Nueva Obra Social
                          </button>
                        <a th:href="@{/..}" class="btn btn-primary my-2">Volver</a>
                        </p>
                    </div>
                </div>
            </section>

        </div>

  

<!-- Modal de creacion de  obra social -->
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- Encabezado del modal -->
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Nueva Obra Social</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <!-- Contenido del modal -->
                <div class="modal-body">
                  <!-- Aquí va tu formulario -->
                  <form class="formulario" th:action="@{/obrasocial/registro/}" method="POST">
                    <!-- Campos del formulario -->
                    <div class="form-group my-3">
                        <label class="mb-2">Nueva Obra Social</label> 
                        <input type="text" class="form-control" name="nombre" placeholder="Nombre de la Obra Social">
                    </div>
                    <!-- Otros campos del formulario -->
          
                    <!-- Botón de envío del formulario -->
                    <button type="submit" class="btn btn-primary">Crear</button>
                  </form>
                </div>
              </div>
            </div>
          </div>




          
        <footer class="text-muted py-5">
            <footer class="mt-8 mb-0 text-center text-white p-7 bg-green-800  ">
            <p>&copy; 2023 SaludAPP. Todos los derechos reservados.</p>
        </footer>

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>

</html>
