<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div>
        <form th:action="@{/paciente/registro}" method="POST">
            <input type="text" name="nombre" placeholder="Paciente" required><br/>
            <input type="number" name="id" placeholder="DNI" required><br/>
            <input type="text" name="email" placeholder="Email" required><br/>
            <input type="text" name="password" placeholder="Password" required>
            <br>
            <select name="obraSocialId">
                <option th:value=null>Seleccionar ObraSocial</option>
                <option th:each="obraSocial :${ObraSociales}"
                    th:value="${obraSocial.id}"
                    th:text="${obraSocial.nombre}"
                    ></option>
                    <option th:value=null >No tengo</option>


            </select>
           
            <br>
            <input type="submit" value="Crear Cuenta">
        </form>

    </div>

</body>
</html>