<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="/src/main/resources/static/css/pacienteForm.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
 
  <style>
      body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* Asegura que el contenido ocupe al menos toda la altura de la pantalla */
        background-image: url("/img/fondoverde.jpeg"); /* Reemplaza esta ruta con la ubicación de tu imagen */
        background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
      }

      .content {
        flex: 1; /* Hace que este div ocupe todo el espacio restante */
        /* Otros estilos para el contenido si es necesario */
      }

     
    </style>

    
</style>
</head>

<body class=" bg-gray-100 m-0 p-0 min-h-screen ">
  <!-- Centra el formulario -->
  <div class="flex-grow flex items-center justify-center">
    <div class="max-w-screen-md mx-auto mt-6 bg-gradient-to-b from-blue-300 to-green-400 p-2 rounded-lg">

      <h2 class="text-2xl font-bold  text-center mt-5 ">Formulario de Registro</h2>

      <div class="container mx-auto ">


        <!-- Formulario con los campos solicitados -->
        <form th:action="@{/paciente/registro}" method="POST"
          class="max-w-md mx-auto  bg-gradient-to-b from-blue-300 to-green-400 p-4 rounded-lg"
          enctype="multipart/form-data">

          <!-- Nombre -->
          <div class="mb-4">
            <label for="nombre" class="flex items-center text-gray-600 text-sm font-semibold mb-2">
              <span class="mr-2">
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="20"
                  viewBox="0 0 640 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                  <path
                    d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM504 312V248H440c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V136c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H552v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z" />
                </svg>
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 6L9 17l-5-5" />
                </svg>
              </span>


              Nombre:</label>
            <input type="text" id="nombre" name="nombre" class="w-full px-4 py-2 border
                                rounded-md focus:outline-none focus:border-blue-500 bg-gray-100" required>
            <!-- DNI -->
          </div>


          <div class="mb-4">
            <label for="id" class="flex items-center text-gray-600 text-sm font-semibold mb-2">
              <span class="mr-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                  class="w-4 h-4">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M15 3H21a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6m2-3V9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2zM5 9H3V5h2v4zm0 6H3v4h2v-4zm4 0H7v4h2v-4zm0-6H7V5h2v4zm4 0h-2V5h2v4zm0 6h-2v4h2v-4zm4 0h-2v4h2v-4z" />
                </svg>
              </span>
              DNI:
            </label>
            <input type="number" id="id" name="id" class=" w-full px-4 py-2 border rounded-md
                                focus:outline-none focus:border-blue-500 bg-gray-100" required>
          </div>



          <!-- Correo Electrónico -->
          <div class=" mb-4">
            <label for="email" class="flex items-center text-gray-600 text-sm font-semibold mb-2">
              <span class="mr-2">
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16"
                  viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                  <path
                    d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
                </svg>
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 6L9 17l-5-5" />
                </svg>
              </span>
              Correo Electrónico:
            </label>
            <input type="email" id="email" name="email"
              class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500 bg-gray-100" required>
            <!-- Contraseña -->
          </div>


          <div class="mb-4">
            <label for="password" class="flex items-center text-gray-600 text-sm font-semibold mb-2">
              <span class="mr-2">
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14"
                  viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                  <path
                    d="M224 64c-44.2 0-80 35.8-80 80v48H384c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80V144C80 64.5 144.5 0 224 0c57.5 0 107 33.7 130.1 82.3c7.6 16 .8 35.1-15.2 42.6s-35.1 .8-42.6-15.2C283.4 82.6 255.9 64 224 64zm32 320c17.7 0 32-14.3 32-32s-14.3-32-32-32H192c-17.7 0-32 14.3-32 32s14.3 32 32 32h64z" />
                </svg>
              </span>
              Contraseña:
            </label>
            <input type="password" id="password" name="password"
              class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500 bg-gray-100" required>
          </div>

          <!-- Contraseña 2-->
          <div class="mb-4">
            <label for="password2" class="flex items-center text-gray-600 text-sm font-semibold mb-2">
              <span class="mr-2">
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14"
                  viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                  <path
                    d="M224 64c-44.2 0-80 35.8-80 80v48H384c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80V144C80 64.5 144.5 0 224 0c57.5 0 107 33.7 130.1 82.3c7.6 16 .8 35.1-15.2 42.6s-35.1 .8-42.6-15.2C283.4 82.6 255.9 64 224 64zm32 320c17.7 0 32-14.3 32-32s-14.3-32-32-32H192c-17.7 0-32 14.3-32 32s14.3 32 32 32h64z" />
                </svg>
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 6L9 17l-5-5" />
                </svg>
              </span>
              Repetir Contraseña:
            </label>
            <input type="password" id="password2" name="password2"
              class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500 bg-gray-100" required>
          </div>


          <!-- Obra Social -->
          <div class="mb-4">
            <label for="obra-social" class="flex items-center text-gray-600 text-sm font-semibold mb-2">
              <span class="mr-2">
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="12"
                  viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                  <path
                    d="M222.6 43.2l-.1 4.8H288c53 0 96 43 96 96s-43 96-96 96H248V160h40c8.8 0 16-7.2 16-16s-7.2-16-16-16H248 220l-4.5 144H256c53 0 96 43 96 96s-43 96-96 96H240V384h16c8.8 0 16-7.2 16-16s-7.2-16-16-16H213l-3.1 99.5L208.5 495l0 1c-.3 8.9-7.6 16-16.5 16s-16.2-7.1-16.5-16l0-1-1-31H136c-22.1 0-40-17.9-40-40s17.9-40 40-40h36l-1-32H152c-53 0-96-43-96-96c0-47.6 34.6-87.1 80-94.7V256c0 8.8 7.2 16 16 16h16.5L164 128H136 122.6c-9 18.9-28.3 32-50.6 32H56c-30.9 0-56-25.1-56-56S25.1 48 56 48h8 8 89.5l-.1-4.8L161 32c0-.7 0-1.3 0-1.9c.5-16.6 14.1-30 31-30s30.5 13.4 31 30c0 .6 0 1.3 0 1.9l-.4 11.2zM64 112a16 16 0 1 0 0-32 16 16 0 1 0 0 32z" />
                </svg>
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 6L9 17l-5-5" />
                </svg>
              </span>
              Obra Social:
            </label>
            <select class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500 bg-gray-100"
              required id="obraSocialId" name="obraSocialId">
              <option th:value=null>Seleccionar ObraSocial</option>
              <option th:each="obraSocial : ${obrasociales}" th:if="${obraSocial != null}" th:value="${obraSocial.id}"
                th:text="${obraSocial.nombre}"></option>
              <option th:value=null>No tengo</option>
            </select>
          </div>
          <div class="mt-4 text-sm text-gray-600 bg-gradient-to-t from-green-500 to-green-300 p-4 rounded-lg">
            <p class="text-blue-800 text-sm">La información proporcionada será tratada de forma
              confidencial y no será
              vendida a
              terceros.
              Nos comprometemos a proteger tu privacidad.</p>
          </div>

          <!-- Botón de Envío -->
          <div class="text-center mt-10">
            <button type="submit"
              class="bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 focus:outline-none mt-2 w-full">Registrarse</button>
          </div>

        </form>

      </div>


    </div>
  </div>
  <!-- Botón Volver -->
  <div class="text-center mt-4 mb-8">
    <button onclick="window.history.back();"
      class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none mt-2">Volver</button>
  </div>
</body>

</html>