<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Mostrar Disponibilidades</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="/src/main/resources/static/css/turnero.css" rel="stylesheet">
    </head>


    <body>
        <div class="container-fluid centered"> <!-- Centrar el contenido -->

            <div class="row justify-content-center">
                <h1 class="text-center mb-4">Calendario de Disponibilidades</h1>
                <div class="col-8">
                    <table class="table text-center">
                        <thead class="thead-dark">
                            <tr>
                                <th th:text="'Lunes ' + ${#dates.format(turnero[0][0], 'dd/MM')}"></th>
                                <th th:text="'Martes ' + ${#dates.format(turnero[0][1], 'dd/MM')}"></th>
                                <th th:text="'Miércoles  ' + ${#dates.format(turnero[0][2], 'dd/MM')}"></th>
                                <th th:text="'Jueves ' + ${#dates.format(turnero[0][3], 'dd/MM')}"></th>
                                <th th:text="'Viernes ' + ${#dates.format(turnero[0][4], 'dd/MM')}"></th>
                                <th th:text="'Sabado ' + ${#dates.format(turnero[0][5], 'dd/MM')}"></th>
                                <th th:text="'Domingo ' + ${#dates.format(turnero[0][6], 'dd/MM')}"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="row, rowStat : ${turnero}">
                                <td th:each="date : ${row}">
                                    <div class="burbuja">
                                        <span th:text="${#dates.format(date, 'H:mm') + 'h'}"></span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>

</html>